<section class="section summary-section">
	<h2 class="section-title">Developer PHP and Symfony Framework Addict</h2>
	<div class="summary">
	    <p>
	    	Currently traveling around the world for a period of one year, I decided to put my bags in New Zealand for a minimum of one year. Passionate about web development since I was 18 years old, I like to be a force for proposals and work on large projects. I love learning daily new development techniques and especially <strong>I am passionate about the Symfony Framework ! </strong>
		</p>
	</div><!--//summary-->
</section><!--//section-->