<section class="section summary-section">
	<h2 class="section-title">Developer PHP and Symfony Framework Addict</h2>
	<div class="summary">
	    <p>
			For the last six months I have been travelling around the world and decided to lay down my hat in New Zealand for a year or more. Passionate about web development since 18 years of age, and <strong> especially on the Symfony Framework</strong>, I would like to offer my expertise and work on large projects. I continuously keep my knowledge up to date.
		</p>
	</div><!--//summary-->
</section><!--//section-->