<section class="section summary-section">
	<h2 class="section-title">Developer PHP and Symfony Framework Addict</h2>
	<div class="summary">
	    <p>
	    	Currently I'm traveling around the world since 6 months and I decided to lay down my hat in New Zealand for a minimum of one year. Passionate about web development since I'm 18 years old, I like to be a source of proposals and work on large projects. Daily, I like learning new development technical and <strong>I am especially passionate about the Symfony Framework ! </strong>
		</p>
	</div><!--//summary-->
</section><!--//section-->