<section class="section educations-section">
    <h2 class="section-title">Educations</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master of Science in Information and Communication Sciences</h3>
                <div class="time">2011 - 2013</div>
            </div><!--//upper-row-->
            <div class="company">UFR Ingémédia - Toulon (83)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Study of information and communication via new medias. Smartphone, Web, Print, Events, .. Management of technical projects.</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Bachelor's Degree in Web Development</h3>
                <div class="time">2010 - 2011</div>
            </div><!--//upper-row-->
            <div class="company">IUT du Puy-en-Velay (43)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Web development and frontend development. Implementation of marketing strategies in different school projects. Introduction to motion design.</p>  
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Higher National Diplomas in Server Development</h3>
                <div class="time">2008 - 2010</div>
            </div><!--//upper-row-->
            <div class="company">Lycée Jean-Monnet - Aurillac (15)</div>
        </div><!--//meta-->
        <div class="details">
            <p>Introduction to software development - JAVA / C ++ - Implementation of computer parks and web servers.</p>  
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->