<section class="section experiences-section">
    <h2 class="section-title">Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Developer</h3>
                <div class="time">2015 - June 2016</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.eolas.fr/">Eolas Business & Decision - Grenoble</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Company specializing in creation of public websites, we made websites of all France's cities with Symfony2 Framework. I participated to make many UX prototypes design, brainstorming for new project,.. I like developping new ideas with new technologies. 
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Project Manager Technical</h3>
                <div class="time">2013 - 2015</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://dredd.fr/">Dredd - Grenoble</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Company specializing in e-commerce websites, we made only projects with Magento CMS. I was the project manager of all the development team . In contact permanent with our customers, I made the connection with the development team to wrote technical specifications. I also implemented a new system of project management for an off-shore team.
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Assistant Project Manager</h3>
                <div class="time">2012</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.atipik.fr/">Atipik - Marseille</a></div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Company specializing in a restargeting system to work with our BtoB customer. My first job as project manager and where I learned Symfony2. 
                I worked on the statistical part of the company software, to be as clear as possible and faster. 
            </p>   
        </div><!--//details-->
    </div><!--//item-->                
</section><!--//section-->