<section class="section experiences-section">
                <h2 class="section-title">Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.eolas.fr/">Eolas Business & Decision - Grenoble</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Company specializing in public websites, we realize the site of all the cities of France. Development of projects under Symfony2, UX prototype design.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Project Manager Technical</h3>
                            <div class="time">2013 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://dredd.fr/">Dredd - Grenoble</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Responsible for the development team, writing functional specifications, management of Magento projects, interface between customers and development teams, implementation of an off-shore project management, management of production servers.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant Project Manager</h3>
                            <div class="time">2012</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="http://www.atipik.fr/">Atipik - Marseille</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                            Project management, developer on the company's satellite projects. Learning Symfony2, development of a CRM (statistical part -> highcharts). Graphic redesign of atipik.fr and integration.
                        </p>   
                    </div><!--//details-->
                </div><!--//item-->                
            </section><!--//section-->