<section class="section projects-section">
    <h2 class="section-title">My Personnals Projects</h2>
    <div class="intro">
        <p>
            I like try new experience, and it's why I do not hesite to launch my own service (free or paying). I let you discover my last two : 
        </p>
    </div><!--//intro-->

<!--
    <div class="item">
        <span class="project-title"><a href="http://wwww.freelineskateshop.fr" target="_blank">Freeline Skateshop</a></span> - 
        <span class="project-tagline">After built the association, with my cofounder we wanted create a company to sell Freeline Skates in Europe. So we create this website and now we sell around the world Freeline Skates ! </span>
    </div><!--//item
-->

    <div class="row">
        <div class="col-sm-6">
            <div class="item">
                <a href="http://travelgram.co">
                    <img src="{{site.baseurl}}/assets/images/tg.png" alt="" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="http://travelgram.co" target="_blank">Travelgram</a></span> - <span class="project-tagline">Don’t wait to be at home to share your trip ! Yes, we built this web service to allow people to share their adventure during their travel. With api's Instagram we get their picture and add all this on a big map with all their friends. </span>
            </div><!--//item-->
        </div>
        <div class="col-sm-6">
            <div class="item">
                <a href="http://www.freelineskateshop.fr">
                    <img src="{{site.baseurl}}/assets/images/fsk.png" alt="" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="http://travelgram.co" target="_blank">Freeline Skateshop</a></span> - <span class="project-tagline">A responsive website template designed to help startups promote, market and sell their products.</span>
            </div><!--//item-->
        </div><!--//item-->
    </div>
</section><!--//section-->
