<section class="section projects-section">
    <h2 class="section-title">My Personnals Projects</h2>
    <div class="intro">
        <p>
            I like to try new experiences, and it's why I do not hesite to launch my own service (free or paying). I let you discover my last two : 
        </p>
    </div><!--//intro-->

    <div class="row">
        <div class="col-sm-6">
            <div class="item">
                <a href="http://travelgram.co">
                    <img src="{{site.baseurl}}/assets/images/tg.png" alt="" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="http://travelgram.co" target="_blank">Travelgram</a></span> - <span class="project-tagline">
                    I built this new web service with 3 others friends, to allow people to share their adventure during their travel. During this project I was the backend developer, so I parameterized all the web server and I coded all the API ( <a href="http://travelgram.co/api/doc">Doc is available here</a> ). We worked in a team with our GIT repository, we plan our meeting every week to be sure there are no major issues during the development. All this application is founded on the Instagram's API, so I optimised a class to use this API which is now <a href="https://github.com/romaricp/api-instagram-with-php">open-source</a>. 
                </span>
            </div><!--//item-->
        </div>
        <div class="col-sm-6">
            <div class="item">
                <a href="http://www.freelineskateshop.fr">
                    <img src="{{site.baseurl}}/assets/images/fsk.png" alt="" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="http://travelgram.co" target="_blank">Freeline Skateshop</a></span> - <span class="project-tagline">
                    I created this company with a friends 6 years ago. In the beginning we created a association but that was an immediate success, so we decide to built this company to sell our products : Freeline Skates ! We felt the potential of this product in France, so we launch our business. Now we work with China to receive our goods, and this business grow up every years. I coded this website with Magento CMS and optimised as far as possible, because I know Magento's performance problems.
                </span>
            </div><!--//item-->
        </div><!--//item-->
    </div>
</section><!--//section-->
