    <section class="skills-section section">
        <h2 class="section-title"></i>Skills &amp; Proficiency</h2>
        <div class="skillset">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list">
                      <li><h3 class="job-title">Symfony</h3></li>
                      <li><h3 class="job-title">PHP 5/7</h3></li>
                      <li><h3 class="job-title">MySQL / MongoDB</h3></li>
                    </ul>
                </div>  
                <div class="col-md-6">
                    <ul class="list">
                      <li><h3 class="job-title">LAMP</h3></li>
                      <li><h3 class="job-title">GIT</h3></li>
                      <li><h3 class="job-title">Customer Relationship</h3></li>
                    </ul>
                </div>  
            </div>  
        </div>  
    </section><!--//skills-section-->