<section class="section experiences-section">
    <h2 class="section-title">Experiences</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead Developer</h3>
                <div class="time">2015 - currently</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.eolas.fr/" target="_blank">Eolas Business & Decision</a> - Grenoble (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                EBS is a company that specialises in the creation of Public Service websites. We developed and launched websites for many of France's largest cities on the Symfony2 Framework. I participated in making many UX prototype designs and in brainstorming for new projects. I like developing new ideas using new technologies.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Project Manager Technical</h3>
                <div class="time">2013 - 2015</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://dredd.fr/" target="_blank">Dredd</a> - Grenoble (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Specialising in e-commerce websites, we only managed projects under the Magento CMS. I was the project manager of the whole development team. In constant contact with our customers, I was the liaison between the development team and our clients. This included writing technical specifications. I also implemented a new project management system for an off-shore team.
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Assistant Project Manager</h3>
                <div class="time">2012</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.atipik.fr/" target="_blank">Atipik</a> - Marseille (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Entirely dedicated to Retargeting Systems, Atipik works on a BtoB basis. In my first job as Project Manager I was introduced to Symfony2. I worked on the statistical part of the company’s software with the objective of making it as clear and efficient as possible.
            </p>   
        </div><!--//details-->
    </div><!--//item-->                
</section><!--//section-->