<section class="section summary-section">
	<h2 class="section-title">Développeur backend Symfony - VueJs</h2>
	<div class="summary">
	    <p>
			<strong> Lead développeur Symfony & VueJs </strong> au sein de la société Eolas Business & Decision, j’aime être force de proposition et travailler sur des projets d’envergures. Passionné depuis toujours par le web, j'adore dénicher au quotidien les nouvelles techno pour développer plus rapidement et proprement.
		</p>
	</div><!--//summary-->
</section><!--//section-->