<section class="section educations-section">
    <h2 class="section-title">Etudes</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Master Information & Communication</h3>
                <div class="time">2011 - 2013</div>
            </div><!--//upper-row-->
            <div class="company">University Toulon "Ingémédia" (France)</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Licence Développement Web</h3>
                <div class="time">2010 - 2011</div>
            </div><!--//upper-row-->
            <div class="company">Université Clermont-Ferrand</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">BTS - Informatique et Réseau</h3>
                <div class="time">2008 - 2010</div>
            </div><!--//upper-row-->
            <div class="company">Université de Clermont-Ferrand</div>
        </div><!--//meta-->
        <div class="details">
            <p>&nbsp;</p>
        </div><!--//details-->
    </div><!--//item-->
    
</section><!--//section-->