<section class="section experiences-section">
    <h2 class="section-title">Expériences professionnelles</h2>
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Lead développeur Symfony & VueJs</h3>
                <div class="time">2015 - Aujourd'hui</div>
            </div><!--//upper-row-->
            <div class="company"><a href="https://www.eolas.fr/" target="_blank">Eolas Business & Decision</a> - Grenoble</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Eolas Business & Decision est une compagnie spécialisée dans la réalisation de site internet pour les collectivités territoriales ainsi que pour des entreprises privées de large envergures. J'interviens principalement en tant que lead développeur sur des applications métiers utilisant le framework Symfony pour la partie back-end et avec VueJs pour la partie front-end. Je participe également à l'élaboration ergonomique des applications via le pôle UX / UI de l'entreprise.
            </p>
        </div><!--//details-->
    </div><!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Chef de projet technique</h3>
                <div class="time">2013 - 2015</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://dredd.fr/" target="_blank">Dredd</a> - Grenoble</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Société spécialisée en Magento 1 & 2. J’ai été chef de projet technique et responsable des équipes de développement pendant 2 ans. Je réalisais l’interfaçage entre les clients et les équipes de développement. Rédaction de spécifications techniques, suivi et revue de code. J’ai également participé à la mise en place d'un nouveau système de gestion de projet pour une équipe de développement off-shore.
            </p>
        </div><!--//details-->
    </div><!--//item-->
    
    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Assistant chef de projet</h3>
                <div class="time">2012</div>
            </div><!--//upper-row-->
            <div class="company"><a href="http://www.atipik.fr/" target="_blank">Atipik</a> - Marseille</div>
        </div><!--//meta-->
        <div class="details">
            <p>
                Société entièrement spécialisée dans le retargeting, Atipik travaille principalement en B2B. Initiation à la gestion de projet, développement du CRM interne de la société sous Symfony.
            </p>   
        </div><!--//details-->
    </div><!--//item-->                
</section><!--//section-->