<section class="section projects-section">
    <h2 class="section-title">Projets Personnels</h2>
    <div class="intro">
        <p>
            J'adore les nouveaux défis et surtout les nouvelles idées. Laissez-moi vous présenter mes deux dernières :
        </p>
    </div><!--//intro-->

    <div class="row">
        <div class="col-sm-6">
            <div class="item">
                <a href="http://travelgram.co" target="_blank">
                    <img src="{{site.baseurl}}/assets/cv/images/tg.png" alt="Travelgram" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="http://travelgram.co" target="_blank">Travelgram</a></span> - <span class="project-tagline">
                J'ai lancé ce nouveau service web avec trois amis afin de permettre aux gens de partager leurs aventures tout en voyageant. En tant que développeur backend, j'ai configuré les serveurs web et codé toutes les API (<a href="http://travelgram.co/api/doc">La doc est visible ici</a>). C’est un travail d’équipe qui l’a fallut organisé via notre dépôt GIT, nous avons planifié nos réunions hebdomadairement pour nous assurer qu'aucun problème majeur n'interromprait le processus de développement. L'application entière était basée sur l'API d'Instagram. J'ai développé et mis à disposition une classe PHP pour utiliser l’API d’Instagram facilement qui est maintenant <a href="https://github.com/romaricp/api-instagram-with-php" target="_blank"> open-source </a>.
                </span>
            </div><!--//item-->
        </div>
        <div class="col-sm-6">
            <div class="item">
                <a href="https://www.freelineskateshop.fr" target="_blank">
                    <img src="{{site.baseurl}}/assets/cv/images/fsk.png" alt="Freeline Skateshop" class="project-img img-responsive">
                </a>
                <span class="project-title"><a href="https://freelineskateshop.fr" target="_blank">Freeline Skateshop</a></span> - <span class="project-tagline">
J’ai créé cette petite entreprise avec un ami il y a 6 ans. A nos débuts nous avons commencé en tant qu’association puis au fur et à mesure de son succès nous avons dû passer sur un statut d’entreprise. Le Freeline Skates est né en Californie, puis maintenant il connait un succès dans le monde entier. A l’époque nous avons senti le potentiel de ce produit, que nous continuons de développer à travers différents évènements que nous organisons en France et en Europe. J’ai développé le site sous Magento et l'ai optimisé autant que possible, car je suis conscient des problèmes de performances de ce CMS.

                </span>
            </div><!--//item-->
        </div><!--//item-->
    </div>
</section><!--//section-->
