
.fade-enter-active, .fade-leave-active {
  transition: opacity 1000ms ease-in-out 500ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.slide-enter-active,
.slide-leave-active {
  transition: transform 500ms ease-in-out 200ms;
}
.slide-enter-active .loader,
  .slide-leave-active .loader {
    transition: transform 300ms ease-in-out;
}
.slide-enter, .slide-leave-to {
  transform: translateY(-100%);
}
.slide-enter .loader, .slide-leave-to .loader {
    transform: translateY(-50vh);
}
.page-enter-active, .page-leave-active {
  transition: transform 750ms cubic-bezier(0.33, 0, 0.2, 1), opacity 750ms cubic-bezier(0.33, 0, 0.2, 1);
}
.page-enter, .page-leave-to {
  opacity: 0;
  transform: translateY(-25px);
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: transform 500ms ease-in-out 50ms;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateX(100%);
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a.link {
  position: relative;
  color: #9e0000;
  text-decoration: none;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  z-index: 1;
}
a.link:after {
    display: block;
    position: absolute;
    content: '';
    background: #9e0000;
    width: 0;
    bottom: 4px;
    height: 2px;
    transition: width 500ms ease-in-out;
}
a.link:hover:after {
    width: 100%;
}
#app {
  overflow: hidden;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
#app .page {
    will-change: transform, opacity;
}

@charset "UTF-8";
.map {
  position: relative;
  width: 100vw;
}
.map.ipad {
    height: auto;
    min-height: -webkit-fill-available;
}
.map.ipad .map__grid {
      height: auto;
      min-height: -webkit-fill-available;
}
.map .title-wrap {
    padding: 0;
    grid-area: 2 / 2 / 2 / 6;
    text-align: left;
}
.map .title-wrap .title {
      font-size: 2.75vw;
      margin: 0;
      padding: 0;
      font-size: 2rem;
      line-height: 1.2;
      margin-bottom: 10px;
}
.map .title-wrap .subtitle {
      font-size: 1.25rem;
      margin: 0;
      margin-bottom: 10px;
}
.map .title-wrap .year {
      font-size: 1.25rem;
      display: block;
}
.map .title-wrap .year:before {
        content: '\2015';
        margin-right: 0.5rem;
}
.map .title-wrap .lang {
      pointer-events: all;
}
.map .title-wrap .lang button {
        background: none;
        padding: 0;
        margin: 0 0 0 10px;
        border: none;
        cursor: pointer;
}
.map .subtitle-wrap {
    position: relative;
    z-index: 30;
    grid-area: 2 / 3;
    margin-right: 15px;
    -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    text-align: left;
    opacity: 0;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.map .subtitle-wrap {
        margin-right: 5px;
}
}
.map .subtitle-wrap .title {
      font-size: 2rem;
      line-height: 1.2;
      letter-spacing: 0.5px;
      font-weight: 600;
      padding: 0;
      margin: 0;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.map .subtitle-wrap .title {
          font-size: 1.3rem;
}
}
.map .subtitle-wrap .subtitle {
      font-weight: 400;
      display: block;
      font-size: 1.7rem;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.map .subtitle-wrap .subtitle {
          font-size: 1rem;
}
}
.map__orientation {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 20;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.map__orientation svg {
      width: 30vw;
      margin-bottom: 30px;
}
.map__badges {
    position: absolute;
    z-index: 19;
    right: 0;
    top: 10vh;
    cursor: pointer;
}
.map__badges:hover li {
      transform: translateX(0) rotate(0deg);
}
.map__badges ul {
      list-style: none;
      margin: 0;
}
.map__badges li {
      width: 77px;
      margin: 10px;
      transition: transform 250ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transform: translateX(56px) rotate(-90deg);
      will-change: transform;
}
.map__badges li:nth-child(1) {
        transition-delay: 0;
}
.map__badges li:nth-child(2) {
        transition-delay: 80ms;
}
.map__badges li:nth-child(3) {
        transition-delay: 180ms;
}
.map__badges img {
      width: 100%;
}
.map__loader {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    z-index: 20;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.map__loader p {
      color: #949494;
      font-weight: 500;
      letter-spacing: 0.5px;
      text-transform: uppercase;
}
.map__content {
    position: absolute;
    top: 100vh;
    left: 0;
    width: 65vw;
    padding: 10vh 10vh 10vh 5vh;
    z-index: 10;
    height: 100vh;
    background-color: #e5e5e5;
    overflow: auto;
}
.map__map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.map__map #map {
      height: 100vh;
}
.map__map .mapboxgl-control-container {
      display: none !important;
}
.map__grid {
    display: -ms-grid;
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    -ms-grid-columns: 17vw 21vw 17vw 17vw 8vw;
        grid-template-columns: 17vw 21vw 17vw 17vw 8vw;
    grid-column-gap: 5vw;
    overflow: hidden;
    pointer-events: none;
}
.map__grid--outer {
      position: relative;
      padding: 0;
      -ms-grid-rows: 10rem auto;
          grid-template-rows: 10rem auto;
      -ms-flex-align: start;
          align-items: start;
}
.map__item {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    transform: translate3d(0, 30px, 0);
    cursor: pointer;
    pointer-events: all;
}
.map__item:before, .map__item:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      top: -100vh;
      width: 1px;
      background-color: #f3f3f3;
}
.map__item:before {
      left: 0;
}
.map__item:after {
      right: 0;
}
.map__item:hover .map__item-title {
      transform: translate3d(3px, 3px, 0);
}
.map__item:hover .map__item-number {
      transform: translate3d(0px, -4px, 0);
}
.map__item:last-child:after {
      display: none;
}
.map__item-title {
      position: absolute;
      top: -2rem;
      right: -1.75rem;
      white-space: nowrap;
      margin: 0;
      z-index: 100;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
      letter-spacing: 1.1px;
      transition: transform 1.2s linear;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.map__item-title {
          font-size: 1.4rem;
}
}
.map__item-number {
      top: -2rem;
      right: 0;
      line-height: 1;
      position: absolute;
      font-size: 1.5rem;
      z-index: 100;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
      transition: transform 1.2s linear;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.map__item-number {
          font-size: 1.2rem;
}
}
.map__item--more {
      display: -ms-flexbox;
      display: flex;
      position: relative;
      -ms-flex-direction: column;
          flex-direction: column;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-pack: center;
          justify-content: center;
      background: #333;
      height: 8vw;
      width: 100%;
      transform: none;
      cursor: default;
}
.map__item--more button,
      .map__item--more a {
        cursor: pointer;
        opacity: 1;
        color: #fff;
        font-size: 1.15rem;
        font-weight: 600;
        text-decoration: none;
}
.map__item--more button {
        opacity: 0;
        background: none;
        border: none;
        position: absolute;
}
.map__item-imgwrap {
    position: relative;
    overflow: hidden;
}
.map__item-img {
    display: block;
    width: 100%;
}

.travel__description {
  background-color: white !important;
  padding: 20px !important;
  margin-bottom: 50px !important;
}
.travel {
  width: 100%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1440px;
}
.travel.grid {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.travel article {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    text-transform: uppercase;
    height: 60vh;
    margin: auto;
    min-width: 100vw;
}
@media only screen and (max-width: 768px) {
.travel article {
        width: 90%;
        height: auto;
        padding: 5vw 0 25vw 0;
}
}
.travel__title {
    font-size: 18px;
    letter-spacing: 0.45em;
    margin-right: -0.45em;
    padding: 5px 10px;
    text-transform: uppercase;
}
.travel__description {
    margin: auto;
    max-width: 620px;
    font-size: 12px;
    text-transform: initial;
    line-height: 2em;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-style: normal;
}
@media only screen and (max-width: 768px) {
.travel__description {
        padding-bottom: 0;
        max-width: 80vw;
}
}
.album {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.album__photo {
    position: relative;
    margin-bottom: 7vw;
}
.album__photo:nth-child(even).landscape {
      margin-left: 15vw;
}
.album__photo:nth-child(even).landscape .album__description {
        text-align: right;
}
.album__photo:nth-child(even).portrait {
      margin-top: 15vh;
}
.album__photo:nth-child(odd).landscape .album__description {
      text-align: left;
}
.album__photo.portrait .album__description {
      text-align: left;
}
.album__photo.landscape + .portrait .album__description {
      text-align: left;
}
.album__photo.portrait + .portrait .album__description {
      text-align: right;
}
.album__photo img {
      display: block;
      width: 100%;
      will-change: opacity;
      opacity: 0;
      transition: opacity 1000ms cubic-bezier(0.33, 0, 0.2, 1);
}
.album__photo img[lazy=loaded] {
      opacity: 1;
}
.album__photo img[lazy=loaded] + .loader {
      opacity: 0;
}
.album__inner {
    position: relative;
}
.album__inner:before {
      position: absolute;
      content: '';
      top: -15px;
      left: -15px;
      bottom: -15px;
      right: -15px;
      background: white;
      z-index: -1;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.album__inner:before {
          top: -10px;
          left: -10px;
          bottom: -10px;
          right: -10px;
}
}
.album__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 10;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 1.3rem;
}
.album__description {
    height: auto !important;
    padding-top: 25px;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.album__description {
        padding-top: 15px;
}
}
.album__description p {
      display: inline;
      font-family: 'Libre Baskerville';
      padding: 5px;
      font-size: 1rem;
      line-height: 2.45rem;
      font-style: normal;
      color: #000;
      background: #fff;
      box-shadow: -15px 0 0 0 #fff, 15px 0 0 0 #fff;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.album__description p {
          font-size: 0.8rem;
          line-height: 2rem;
          box-shadow: -10px 0 0 0 #fff, 10px 0 0 0 #fff;
}
}
.album__link {
    width: 100%;
}
.album__link button,
    .album__link a {
      display: inline-block;
      height: auto;
      padding: 10px 25px;
      font-size: 1rem;
      line-height: 1.45rem;
      text-transform: uppercase;
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      color: #949494;
      background: none;
      border: 2px solid #949494;
      margin: 0;
      min-width: 165px;
      letter-spacing: 1.5px;
      transition: all 300ms ease-in-out;
      cursor: pointer;
}
.album__link button:last-child,
      .album__link a:last-child {
        margin-left: 25px;
}
.album__link button:hover,
      .album__link a:hover {
        color: black;
        border-color: black;
}
.album__loader {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 600ms cubic-bezier(0.33, 0, 0.2, 1);
}

.loader[data-v-201688cd] {
  -ms-flex-align: center;
      align-items: center;
  border: 3px solid #c5c5c5;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
  margin: 0 auto;
  width: 110px;
}
.loader #wave[data-v-201688cd] {
    stroke-dasharray: 0 16 101 16;
    animation: moveTheWave 2400ms linear infinite;
}
.loader svg[data-v-201688cd] {
    margin: 0 auto;
    overflow: hidden;
}
@keyframes moveTheWave {
0% {
    stroke-dashoffset: 0;
    transform: translate3d(0, 0, 0);
}
100% {
    stroke-dashoffset: -133;
    transform: translate3d(-90px, 0, 0);
}
}

.travels[data-v-f0f457a2] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.travels header.header[data-v-f0f457a2] {
    -ms-flex-pack: center;
        justify-content: center;
    width: 50%;
    height: 55vh;
    padding: 0 35px;
}
@media only screen and (max-width: 768px) {
.travels header.header[data-v-f0f457a2] {
        width: 100%;
        height: 250px;
}
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.travels header.header[data-v-f0f457a2] {
        height: 340px;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.travels header.header h1[data-v-f0f457a2],
        .travels header.header ul[data-v-f0f457a2] {
          margin: auto;
          padding: 0;
}
}
.travels article[data-v-f0f457a2] {
    position: relative;
    width: 50%;
    height: 55vh;
    overflow: hidden;
    border-bottom: 2px solid white;
    cursor: pointer;
    background-color: #9e0000;
}
@media only screen and (max-width: 768px) {
.travels article[data-v-f0f457a2] {
        width: 100%;
        height: 250px;
}
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.travels article[data-v-f0f457a2] {
        height: 340px;
}
}
.travels article[data-v-f0f457a2]:nth-child(even) {
      border-left: 1px solid white;
}
@media only screen and (max-width: 768px) {
.travels article[data-v-f0f457a2]:nth-child(even) {
          border-left: none;
}
}
.travels article[data-v-f0f457a2]:nth-child(odd) {
      border-right: 1px solid white;
}
@media only screen and (max-width: 768px) {
.travels article[data-v-f0f457a2]:nth-child(odd) {
          border-right: none;
}
}
.travels article a[data-v-f0f457a2] {
      display: block;
      width: 100%;
      height: 100%;
}
.travels article:hover h2[data-v-f0f457a2] {
      opacity: 1;
}
.travels article:hover .img[lazy=loaded][data-v-f0f457a2] {
      opacity: 0.75;
}
.travels article h2[data-v-f0f457a2] {
      position: absolute;
      opacity: 0;
      z-index: 1;
      transition: opacity 400ms cubic-bezier(0.33, 0, 0.2, 1);
      will-change: opacity;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      background: black;
      font-size: 42px;
      line-height: 1.1em;
      text-transform: uppercase;
      letter-spacing: .12em;
      font-weight: 700;
      padding: 6px 10px;
      display: inline-block;
      margin: 0;
      max-width: 70%;
}
@media only screen and (max-width: 768px) {
.travels article h2[data-v-f0f457a2] {
          opacity: 1;
          font-size: 26px;
}
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.travels article h2[data-v-f0f457a2] {
          opacity: 1;
          font-size: 32px;
}
}
.travels article .img[data-v-f0f457a2] {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 0;
      opacity: 0;
      transition: opacity 400ms cubic-bezier(0.33, 0, 0.2, 1);
      will-change: opacity;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
}
.travels article .img[lazy=loaded][data-v-f0f457a2] {
      opacity: 1;
}

header.header {
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  margin: auto;
}
header.header h1 {
    font-weight: 400;
    margin: auto auto auto 0;
    border: 3px solid black;
    padding: 15px 20px;
}
@media only screen and (max-width: 768px) {
header.header h1 {
        font-size: 22px;
        margin: auto;
}
}
header.header h1 a {
      color: black;
      text-decoration: none;
}
header.header ul {
    list-style: none;
    margin: auto 0 auto auto;
    font-size: 17px;
}
@media only screen and (max-width: 768px) {
header.header ul {
        display: none;
}
}
header.header ul li {
      display: inline-block;
      margin-right: 15px;
      padding: 10px 0;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 0.16em;
      font-weight: 400;
      line-height: 1em;
}
header.header ul li button {
        border: 0;
        background: 0;
        cursor: pointer;
}
header.header ul li a {
        text-decoration: none;
        color: black;
        transition: color 300ms cubic-bezier(0.33, 0, 0.2, 1);
}
header.header ul li a.active, header.header ul li a:hover {
          color: #9e0000;
}
header.header ul li:after {
        content: '//';
}
header.header ul li:last-child {
        margin-right: 0;
}

footer[data-v-63120a55] {
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  height: 10vh;
  padding: 15px;
  width: 100%;
}
footer p[data-v-63120a55] {
    font-weight: 400;
    font-size: 12px;
    margin: auto 0 auto auto;
}

.travel[data-v-35cd3b74] {
  width: 100%;
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  max-width: 1440px;
}
.travel.grid[data-v-35cd3b74] {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.travel article[data-v-35cd3b74] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-direction: column;
        flex-direction: column;
    text-transform: uppercase;
    height: 60vh;
    margin: auto;
    min-width: 100vw;
}
@media only screen and (max-width: 768px) {
.travel article[data-v-35cd3b74] {
        width: 90%;
        height: auto;
        padding: 5vw 0 25vw 0;
}
}
.travel__title[data-v-35cd3b74] {
    font-size: 18px;
    letter-spacing: 0.45em;
    margin-right: -0.45em;
    padding: 5px 10px;
    text-transform: uppercase;
}
.travel__description[data-v-35cd3b74] {
    margin: auto;
    max-width: 620px;
    font-size: 14px;
    text-transform: initial;
    line-height: 2em;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-style: normal;
}
@media only screen and (max-width: 768px) {
.travel__description[data-v-35cd3b74] {
        padding-bottom: 0;
        max-width: 80vw;
}
}
.travel__container[data-v-35cd3b74] {
    margin-bottom: 10vh;
}
@media only screen and (max-width: 768px) {
.travel__container[data-v-35cd3b74] {
        margin-bottom: 5vh;
}
}
.travel__container:nth-child(even) .travel__photo.portrait[data-v-35cd3b74] {
      margin-top: 20vh;
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.travel__container:nth-child(even) .travel__photo.portrait[data-v-35cd3b74] {
          margin-top: 0;
}
}
@media only screen and (max-width: 768px) {
.travel__container:nth-child(even) .travel__photo.portrait[data-v-35cd3b74] {
          margin-top: 0;
}
}
.travel__photo[data-v-35cd3b74] {
    position: relative;
    background: #e5e5e5;
}
@media only screen and (max-width: 768px) {
.travel__photo[data-v-35cd3b74] {
        margin: 0 auto 0 auto;
}
}
.travel__photo[data-v-35cd3b74]:before {
      position: absolute;
      content: '';
      top: -15px;
      left: -15px;
      bottom: -15px;
      right: -15px;
      background: #e5e5e5;
      z-index: -1;
}
@media only screen and (max-width: 768px) {
.travel__photo[data-v-35cd3b74]:before {
          display: none;
}
}
@media all and (min-width: 769px) and (max-width: 1366px) {
.travel__photo[data-v-35cd3b74]:before {
          display: none;
}
}
.travel__text[data-v-35cd3b74] {
    display: none;
    width: calc(100vw - 30px);
    text-align: justify;
    margin: auto;
    padding-top: 10px;
}
@media only screen and (max-width: 768px) {
.travel__text[data-v-35cd3b74] {
        display: block;
}
}
.travel__text p[data-v-35cd3b74] {
      display: inline;
      font-family: 'Libre Baskerville';
      padding: 5px;
      font-size: 0.9rem;
      line-height: 2.5;
      font-style: normal;
      color: #fff;
      background: #000;
      box-shadow: -5px 0 0 0 #000, 5px 0 0 0 #000;
}
.travel__loader[data-v-35cd3b74] {
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 600ms cubic-bezier(0.33, 0, 0.2, 1);
}
.travel img[data-v-35cd3b74] {
    position: relative;
    z-index: 10;
    will-change: opacity;
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.33, 0, 0.2, 1);
    max-width: 100%;
}
.travel img[lazy=loaded][data-v-35cd3b74] {
    opacity: 1;
}
.travel img[src^="http"] + .loader[data-v-35cd3b74] {
    opacity: 0;
}

.notfound[data-v-6673a86e] {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  min-height: 100vh;
}
.notfound header.header[data-v-6673a86e] {
    width: calc(100vw - 15px);
    padding: 15px;
}
.notfound__article[data-v-6673a86e] {
    position: relative;
    width: calc(100vw - 45px);
    height: 76vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
}
@media only screen and (max-width: 768px) {
.notfound__article[data-v-6673a86e] {
        width: 90%;
        height: auto;
        padding: 5vw 0 25vw 0;
}
}
.notfound__article h1[data-v-6673a86e] {
      position: relative;
      font-size: 25vw;
      text-transform: uppercase;
      z-index: -1;
      line-height: 1.1em;
}
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

/* Document
   ========================================================================== */

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */

a:active,
a:hover {
  outline-width: 0;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/*# sourceMappingURL=app.777cddc58dc25f56402a406b8c8ddfe0.css.map*/