---
layout: compress
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
{% include cv/head.html %}

<body>
        {% include cv/top.html %}

    <div class="wrapper">
    
        {% include cv/sidebar.html %}
        
        <div class="main-wrapper">
           
           {{content}}
            
        </div><!--//main-body-->
    </div>
 
{% include cv/footer.html %}
 
{% include cv/scripts.html %}
</body>
</html> 

